QUESTION 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
# ANSWER 1

years_list = [i for i in range(1994, 2000)]
print(years_list)

[1994, 1995, 1996, 1997, 1998, 1999]

QUESTION 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [2]:
# ANSWER 2

print('Third Birthday: ',years_list[3])

Third Birthday:  1997

QUESTION 3.In the years list, which year were you the oldest?

In [3]:
# ANSWER 3

print(max(years_list))

1999

QUESTION 4. Make a list called things with these three strings as elements:"mozzarella", "cinderella", "salmonella"

In [4]:
# ANSWER 4

things = ["mozzarella", "cinderella", "salmonella"]

QUESTION 5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [5]:
# ANSWER 5

things[1].capitalize()

# Here, only cinderella refers to a person while the mozzarella is a cheese and salmonella is a bacterial disease 
# which affects animals also.

'Cinderella'

In [6]:
print(things)

# No, capitalize will not change the elements in the original string.

['mozzarella', 'cinderella', 'salmonella']

QUESTION 6. Make a surprise list with the elements "Groucho", "Chico", "Harpo"

In [7]:
#ANSWER 6

surprise = ["Groucho", "Chico", "Harpo"]

QUESTION 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [8]:
#ANSWER 7
# lower case the last element of surprise list
surprise[-1] = surprise[-1].lower()
print(surprise)

['Groucho', 'Chico', 'harpo']

In [9]:
# then reverse the last element of surprise list
surprise[-1] = surprise[-1][::-1]
print(surprise)

['Groucho', 'Chico', 'oprah']

In [10]:
# then Capitalize the last element of surprise list
surprise[-1] = surprise[-1].capitalize()
print(surprise)

['Groucho', 'Chico', 'Oprah']

QUESTION 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [11]:
# ANSWER 8

e2f = {'dog':'chien', 'cat':'chat', 'walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

QUESTION 9. Write the French word for walrus in your three-word dictionary e2f.

In [12]:
# ANSWER 9: 

# AMBIGUITY: since the word 'walrus' is already in the dictionary, wheter the question is asking to print the
# french word for 'walrus',

'''e2f['walrus']'''

# but if the question is asking to write the french for 'walrus' in the 3-word dictionary even though its already there,  
# then we could use the following command
e2f.setdefault('walrus', 'morse')

'morse'

QUESTION 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [13]:
# ANSWER 10

f2e = {value:key for key, value in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

QUESTION 11. Print the English version of the French word chien using f2e.

In [14]:
# ANSWER 11

f2e['chien']

'dog'

QUESTION 12. Make and print a set of English words from the keys in e2f.

In [15]:
# ANSWER 12

e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

QUESTION 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: "animals", "plants",
and "other". Make the "animals" key refer to another dictionary with the keys "cats", "octopi", and
"emus". Make the "cats" key refer to a list of strings with the values "Henri", "Grumpy", and "Lucy".
Make all the other keys refer to empty dictionaary

In [2]:
# ANSWER 13

life = {'animals':{'cats':['Henri', 'Grumpy', 'Lucy'], 'octopi':{}, 'emus':{}},
       'plants' :{},
       'other' :{}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

QUESTION 14. Print the top-level keys of life.

In [17]:
# ANSWER 14

# PRINTING TOP LEVEL KEYS

life.keys()

dict_keys(['animals', 'plants', 'other'])

QUESTION 15. Print the keys for life["animals"].

In [18]:
# ANSWER 15: Print the keys for life['animals'].

life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

QUESTION 16. Print the values for life["animals"]["cats"]

In [19]:
# ANSWER 16: Print the values for life['animals']['cats']

life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']